body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    background-image: url("/images/desk.png");
    background-size: cover;
    background-repeat: 'no' - repeat;
    user-select: none;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: darkblue;
    align-content: center;
    text-align: center;
}

p {
    color: black;
    font-weight: 400;
    font-family: 'Monteserrat', sans-serif;
}

p[data-action="lose"] {
    display: none;
}

.active {
    opacity: 1 !important;
}

.clearfix {
    width: 100%;
    clear: both;
}

.game-info {
    background-color: lightgray;
    text-align: center;
    display: block;
    margin: auto;
    width: 40%;
    opacity: .8;
}

.button {
  color: #666666;
  background-color: #eeeeee;
  border-color: #eeeeee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
   }

.button-primary,
.button-primary-flat {
  background-color: #1b9af7;
  border-color: #1b9af7;
  color: white; }
  .button-primary:visited,
  .button-primary-flat:visited {
    color: white; }
  .button-primary:hover, .button-primary:focus,
  .button-primary-flat:hover,
  .button-primary-flat:focus {
    background-color: #4cb0f9;
    border-color: #4cb0f9;
    color: white; }
  .button-primary:active, .button-primary.active, .button-primary.is-active,
  .button-primary-flat:active,
  .button-primary-flat.active,
  .button-primary-flat.is-active {
    background-color: #2798eb;
    border-color: #2798eb;
    color: #0880d7; }

.button-pill {
  border-radius: 200px; }



.tile {
    width: 12%;
    height: 12%;
    border-radius: 20px;
    box-shadow: 1px 3px 5px white;
    padding-bottom: 10%;
    margin-left: .5%;
    margin-right: .5%;
    margin-bottom: 1%;
}


/* 
/*Game Button Colors and Game Button Colors "When Lit Up"*/

.lit {
    opacity: 1;
    transition: opacity 250ms ease;
}

.red {
    background: #ff0000;
    opacity: .6;
}

.blue {
    background: #0000ff;
    opacity: .6;
}

.green {
    background: #00ff00;
    opacity: .6;
}

.yellow {
    background: #ffff00;
    opacity: .6;
}

.red:hover,
.blue:hover,
.green:hover,
.yellow:hover {
    border: 2px solid black;
}

#begin-button:hover {
    border: 2px solid black;
}

.hoverable:hover {
    cursor: pointer;
}
